{% extends "base.html" %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <form id="takeout-form" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label class="form-label">Participant Id:</label>
            <input class="form-element form-control"
                   type="text"
                   name="study_id"
                   id="study_id"
                   placeholder="{{consent.study_id}}"
                   value="{{consent.study_id}}" />
        </div>
    </form>

    <h3><strong>Takeout Directions</strong></h3>
    <p>
        Please read these directions carefully before proceeding to the next page. Clicking the 'Proceed to Takeout' button
        below will redirect this page to the Google Takeout tool. On this page we need you to perform the operations
        listed below. The page will open in a tab for you to continue referencing this set of directions.
    </p>
    <p>
        Some of your search history contains location tags. We discard this data and only use the Location history
        as a selected product in the directions below.
    </p>

    <ol id="directions-list">
        <li>
            Next to <em>Products</em> click <img class="inline-button" style="height: 20px; position: relative; top: -2px;" src="{{ url_for('static', filename='deselect_all.PNG') }}" alt="deselect_all">
        </li>
        <li>
            Scroll to down and check the box for <em>Location History</em> to enable it
            <img id="directions-2" class="directions" src="{{ url_for('static', filename='directions_2.PNG') }}" alt="d2">
        </li>
        <li>
            Scroll and check the box for <em>My Activity</em> to enable it
            <img id="directions-3" class="directions" src="{{ url_for('static', filename='directions_3.PNG') }}" alt="d3">
        </li>
        <li>
            Click <img id="multiple_formats" class="inline-button" style="height: 35px !important;" src="{{ url_for('static', filename='mutiple_formats.PNG') }}" alt="multiple formats"> to change the activity options
        </li>
        <li>
            Change the file format for <em>Activity records</em> from HTML to JSON
            <img id="directions-4" class="directions" src="{{ url_for('static', filename='directions_4.PNG') }}" alt="d4">
        </li>
        <li>
            Click <img class="inline-button" style="height: 20px !important;" src="{{ url_for('static', filename='OK.PNG') }}" alt="OK"> to close the My Activity options dialog
        </li>
        <li>
            Click <img class="inline-button" style="height: 40px !important;" src="{{ url_for('static', filename='directions_5.PNG') }}" alt="d5"> to open a dialog for product selection

        </li>
        <li>
            Click <img class="inline-button" style="height: 20px; position: relative; top: -2px;" src="{{ url_for('static', filename='deselect_all.PNG') }}" alt="deselect_all"> to uncheck all products
        </li>
        <li>
            Scroll and check the box for <em>Search</em>
            <img id="directions-7" style="width: 250px !important;" class="directions" src="{{ url_for('static', filename='directions_7.PNG') }}" alt="d7">
        </li>
        <li>Click <img id="directions-5" class="inline-button" style="height: 20px !important;" src="{{ url_for('static', filename='OK.PNG') }}" alt="OK"> to close the dialog</li>
        <li>Scroll down and click <img class="inline-button" style="height: 35px !important;" src="{{ url_for('static', filename='next_step.PNG') }}" alt="next-step"></li>
        <li>
            Under <stong>Delivery method</stong> change <em>Send download link via email</em> to <em>Add to drive</em>
            <img id="directions-10" class="directions" src="{{ url_for('static', filename='directions_10.PNG') }}" alt="d10">
        </li>
        <li>
            Click <img class="inline-button" style="height: 35px !important;" src="{{ url_for('static', filename='create_archive.PNG') }}" alt="create-archive">
        </li>
    </ol>

    <button id="takeout-button" type="submit" class="btn btn-success" onclick="submit_form()">Proceed to Takeout</button>
    <div style="height: 50px"></div>

    <style>
        .form-element {
            background: transparent !important;
            border: none !important;
            font-weight: bold !important;
            font-size: 18px !important;
            font-style: italic !important;
            display: inline !important;
            box-shadow: none !important;
            width: 250px !important;
            z-index: -1 !important;
        }
        .form-label {
            display: inline;
            margin-right: 5px;
            font-size: 18px;
            font-style: italic;
        }
        #takeout-form {
            max-width: 1200px;
        }
        #takeout-button {
            margin: 10px 10px;
            height: 45px;
            font-size: 20px;
            font-weight: bold;
            width: 100%;
        }
        #directions-list {
            font-weight: bold;
            font-size: large;
        }
        #directions-list li {
            margin: 15px 0;
        }
        .directions {
            width: 525px;
            display: block;
            border: 1px solid grey;
            box-shadow: 7px 7px 3px #888888;
            margin: 10px 0;
            border-radius: 5px;
            padding: 10px;
        }
        .inline-button {
            margin: 0 5px;
            height: 45px;
        }
    </style>

    <script type="text/javascript">
        let clicked = false;

        function submit_form () {
            if (clicked === false) {
                $.ajax({
                    url: 'download',
                    type: 'POST',
                    data: $('#takeout-form').serialize(),
                    success: function () {
                        let win = window.open('https://takeout.google.com', '_blank');
                        win.focus();
                    }
                });
                clicked = true;
            }
        }
    </script>
{% endblock %}